fastapi
uvicorn
pypdf
python-docx
openpyxl
python-pptx
sentence-transformers
faiss-cpu
requests
python-dotenv
python-multipart
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
pymongo
pymupdf
gTTS==2.5.1
